
*.h~
*.inl~
src/.#Fp.inl
*.inl#
make.log
src/.#Matrix.h
src/.#QuadFormInt.inl
src/.#birch.h
src/SquareMatrixInt.cpp~
src/.#Integer.inl
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libs/libantic.so
libs/libflint.so
libs/libmpfr.so
libs/libantic.a
libs/libflint.a
libs/libmpfr.a
libtool
ltmain.sh
m4/
missing
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/birch
src/birch_dbg
src/libbirch.la
src/*.o
src/*.lo
Makefile~
gmon.out
src/Makefile~
libs/
*.cpp~
