
*.h~
*.inl~
src/.#Fp.inl
*.inl#
make.log
src/.#Matrix.h
src/.#QuadFormInt.inl
src/.#birch.h
src/SquareMatrixInt.cpp~
src/.#Integer.inl
Makefile
Makefile.in
Makefile~
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
core
depcomp
gmon.out
install-sh
libs/
libtool
ltmain.sh
m4/
missing
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/birch
src/birch-Fp.o
src/birch-Integer.o
src/birch-ParseNipp.o
src/birch-QuadFormInt.o
src/birch-SetCover.o
src/birch-SquareMatrixInt.o
src/birch-UnivariatePolyInt.o
src/birch-birch.o
src/birch-birch_util.o
src/birch_dbg
src/birch_dbg-Fp.o
src/birch_dbg-Integer.o
src/birch_dbg-ParseNipp.o
src/birch_dbg-QuadFormInt.o
src/birch_dbg-SetCover.o
src/birch_dbg-SquareMatrixInt.o
src/birch_dbg-UnivariatePolyInt.o
src/birch_dbg-birch.o
src/birch_dbg-birch_util.o
src/libbirch.la
src/libbirch_la-Fp.lo
src/libbirch_la-Integer.lo
src/libbirch_la-ParseNipp.lo
src/libbirch_la-QuadFormInt.lo
src/libbirch_la-SetCover.lo
src/libbirch_la-SquareMatrixInt.lo
src/libbirch_la-UnivariatePolyInt.lo
src/libbirch_la-birch_util.lo