
*.h~
*.inl~
*.cpp~
src/.#Fp.inl
*.inl#
make.log
src/.#Matrix.h
src/.#QuadFormInt.inl
src/.#birch.h
src/SquareMatrixInt.cpp~
src/.#Integer.inl
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libs/libantic.so
libs/libflint.so
libs/libmpfr.so
libs/libantic.a
libs/libflint.a
libs/libmpfr.a
libtool
ltmain.sh
m4/
missing
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/birch
src/birch_dbg
src/libbirch.la
*.o
*.lo
*.Plo
src/*.o
src/*.lo
Makefile~
gmon.out
src/Makefile~
*.cpp~
src/*/*.o
src/*/*.lo
src/*/*/*.o
src/*/*/*.lo
src/*/*/*/*.o
src/*/*/*/*.lo
src/flint/*
src/polyhedral_common/*/.deps/*
src/polyhedral_common/*/.libs/*
libs/*
src/polyhedral_common/src_basic/.dirstamp
src/polyhedral_common/src_comb/.dirstamp
src/polyhedral_common/src_graph/.dirstamp
src/polyhedral_common/src_matrix/.dirstamp
src/polyhedral_common/src_number/.dirstamp
src/polyhedral_common/src_poly/.dirstamp
